beautifulsoup4==4.12.3
googlemaps==4.10.0
gspread==6.1.2
protobuf==5.27.3
pytest==8.3.2
python-dotenv==1.0.1
ratelimit==2.2.1
Requests==2.32.3
spacy==3.7.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl